mimir:
  structuredConfig:
    multitenancy_enabled: false
    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /data/blocks
    
    compactor:
      data_dir: /data/compactor
      compaction_interval: 30m

ingester:
  replicas: 1
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: standard-rwo
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

querier:
  replicas: 1
query_frontend:
  replicas: 1
store_gateway:
  replicas: 1
  persistentVolume:
    enabled: true
    size: 5Gi
    storageClass: standard-rwo
compactor:
  replicas: 1
  persistentVolume:
    enabled: true
    size: 5Gi
    storageClass: standard-rwo
distributor:
  replicas: 1
ruler:
  enabled: false
alertmanager:
  enabled: false
minio:
  enabled: true
  mode: standalone
  persistence:
    size: 10Gi
    storageClass: standard-rwo
nginx:
  enabled: false