apiVersion: v1
kind: ConfigMap
metadata:
  name: control-plane-config
  namespace: control-plane
data:
  syn-cp.yaml: |
    server:
      # Full URL where you will access Control Plane
      url: https://app.iamusingtheinternet.com

      tls:
        cert_file: /global-certs/tls.crt
        key_file: /global-certs/tls.key

    data_sources:
      postgres:
        # DSN will be constructed from the secret
        # Format: postgres://scp:<PASSWORD>@<DATABASE_HOST>:5432/scpdata?sslmode=require
        dsn_file: /app/secrets/postgres-dsn

    metrics:
      default_scrape_interval_seconds: 30

    kms:
      # KMS key will be provided via environment variable
      # Format: base64key://KEY
      key_url: ${KMS_KEY_URL}
