apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- certificate.yaml
- configmap.yaml
- deployment.yaml
- ingress.yaml
- kms-externalsecret.yaml
- kms-key-generator.yaml
- image-pull-secret.yaml
- postgres.yaml
- postgres-password-externalsecret.yaml
- postgres-password-generator.yaml
- postgres-dsn-job.yaml
- pvc.yaml
- service.yaml

# Patch the project ID in the ServiceAccount annotation and DatabaseInstance
patches:
- target:
    kind: ServiceAccount
    name: secret-generator
  patch: |-
    - op: replace
      path: /metadata/annotations/iam.gke.io~1gcp-service-account
      value: external-secrets-sa@erik-sandbox-408216.iam.gserviceaccount.com
- target:
    kind: DatabaseInstance
    name: control-plane-db
  patch: |-
    - op: replace
      path: /spec/forProvider/settings/0/ipConfiguration/0/privateNetwork
      value: projects/erik-sandbox-408216/global/networks/default
